.root {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  cursor: pointer;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    height: 72px;
    justify-items: center;
    align-content: center;
    background: var(--token-as44I7WwR-rZ);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__lntoE {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  height: 72px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 16px;
}
.freeBox__lntoE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__lntoE > :global(.__wab_flex-container) > *,
.freeBox__lntoE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lntoE > :global(.__wab_flex-container) > picture > img,
.freeBox__lntoE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lntoE {
    left: auto;
    top: auto;
    right: auto;
  }
}
.img {
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
  display: none !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    display: none !important;
  }
}
.freeBox__g03Hp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__g03Hp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__g03Hp > :global(.__wab_flex-container) > *,
.freeBox__g03Hp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g03Hp > :global(.__wab_flex-container) > picture > img,
.freeBox__g03Hp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g03Hp > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g03Hp > :global(.__wab_flex-container) > *,
  .freeBox__g03Hp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__g03Hp > :global(.__wab_flex-container) > picture > img,
  .freeBox__g03Hp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__v7Nh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.navMenuItem__we5RS:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hnnNb {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
}
.freeBox___6UxY6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.navMenuItem__yEtH5:global(.__wab_instance) {
  max-width: 100%;
}
.svg__nXwFq {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
}
.freeBox__onDrz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.navMenuItem___91Uou:global(.__wab_instance) {
  max-width: 100%;
}
.svg__d3MKe {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
}
.freeBox__aEzj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.navMenuItem__mFv4L:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sw8Lr {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
}
.freeBox__xr8DE {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xr8DE {
    display: none;
  }
}
.navMenuItem__ieQam:global(.__wab_instance) {
  max-width: 100%;
}
.svg__orXww {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
}
.freeBox__lMobc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.navMenuItem__czqLh:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tsGpu {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
}
.settingsSheet:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0px;
}
.pcls_nAtB7QgKpfyb {
  background: var(--token-2aHIw8xI62Xi);
  outline: none;
}
.settingsSheet__modal :global(.ant-modal-content) {
  outline: none;
  padding: 0px;
  margin: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .settingsSheet:global(.__wab_instance) {
    right: 0;
    bottom: 0;
    left: 0;
    top: auto;
    overflow: hidden;
  }
}
.settingsSheet__mn0Ll:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__fXQl {
  display: block;
  width: 100%;
  height: 2px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
