.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.mainPageLayout:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: fixed;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
  min-width: 0;
}
.dd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 32px;
  min-width: 0;
}
.freeBox__chDet {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px #00000026;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__klIu1 {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__klIu1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__klIu1 > :global(.__wab_flex-container) > *,
.freeBox__klIu1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__klIu1 > :global(.__wab_flex-container) > picture > img,
.freeBox__klIu1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__pFcp9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pFcp9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pFcp9 > :global(.__wab_flex-container) > *,
.freeBox__pFcp9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pFcp9 > :global(.__wab_flex-container) > picture > img,
.freeBox__pFcp9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.me:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  margin-top: calc(32px + 16px) !important;
  margin-bottom: 32px;
  margin-left: 0px;
  margin-right: 0px;
}
.updateProfileForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 0px;
}
.freeBox__mPJw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mPJw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mPJw > :global(.__wab_flex-container) > *,
.freeBox__mPJw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mPJw > :global(.__wab_flex-container) > picture > img,
.freeBox__mPJw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hXjQf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sub__eXdWw {
  margin-bottom: 8px;
}
.profileEmail {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.freeBox__tirQi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sub___9W4FO {
  margin-bottom: 8px;
}
.profileMsisdn {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.freeBox__xZ3YZ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xZ3YZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xZ3YZ > :global(.__wab_flex-container) > *,
.freeBox__xZ3YZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xZ3YZ > :global(.__wab_flex-container) > picture > img,
.freeBox__xZ3YZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__gNnH8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sub__zNfur {
  margin-bottom: 8px;
}
.profileFirstName {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.freeBox__spyfJ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sub__nAgRm {
  margin-bottom: 8px;
}
.profileLastName {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.freeBox___5LJf7 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  align-self: stretch;
  margin-top: 24px;
  min-width: 0;
}
.freeBox___5LJf7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___5LJf7 > :global(.__wab_flex-container) > *,
.freeBox___5LJf7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5LJf7 > :global(.__wab_flex-container) > picture > img,
.freeBox___5LJf7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button2__t5AR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___37P9C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___8A38 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__cZumU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button2___87R4X:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg___15A4X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__aIAv {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--token-j-ZwOKbpUCqd);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__oR4Ut {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__iNKkZ {
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
.freeBox__s5W5Q {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  display: none;
  padding: 32px;
}
.text__b26 {
  position: relative;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___0Vb8D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0px 10px 10px 0px #00000026;
  margin-top: 24px;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__oQEwi {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__oQEwi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oQEwi > :global(.__wab_flex-container) > *,
.freeBox__oQEwi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oQEwi > :global(.__wab_flex-container) > picture > img,
.freeBox__oQEwi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___37KAj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___37KAj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___37KAj > :global(.__wab_flex-container) > *,
.freeBox___37KAj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___37KAj > :global(.__wab_flex-container) > picture > img,
.freeBox___37KAj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.changePasswordForm:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 0px;
}
.freeBox__keUtp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__keUtp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__keUtp > :global(.__wab_flex-container) > *,
.freeBox__keUtp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__keUtp > :global(.__wab_flex-container) > picture > img,
.freeBox__keUtp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-grow: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 16px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___4Gpl7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__bz3Zh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sub__shdY {
  margin-bottom: 8px;
}
.profileFirstName2 {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.column__ceQeS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__eSj4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sub__xscsX {
  margin-bottom: 8px;
}
.profileLastName2 {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  min-width: 0;
  border-radius: 6px;
  border: 1px solid #e5e5ea;
}
.freeBox__q2VvT {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  align-self: stretch;
  margin-top: 24px;
  min-width: 0;
}
.freeBox__q2VvT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__q2VvT > :global(.__wab_flex-container) > *,
.freeBox__q2VvT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q2VvT > :global(.__wab_flex-container) > picture > img,
.freeBox__q2VvT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button2__rqZ62:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__f45Y4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__vs36C {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__vs36C > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__vs36C > :global(.__wab_flex-container) > *,
.freeBox__vs36C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vs36C > :global(.__wab_flex-container) > picture > img,
.freeBox__vs36C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__mQoYg {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.text___4P6Gq {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__b2UCv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xwS4B {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  background: #e5e5ea;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__ju3V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.text__ig0Xp {
  position: relative;
  color: #05050599;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
