.me {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.me > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.me > :global(.__wab_flex-container) > *,
.me > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.me > :global(.__wab_flex-container) > picture > img,
.me > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox___7KHzs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  max-width: 100%;
  flex-shrink: 0;
  background: var(--token-GEppKCdlxgWK);
  border-radius: 20px;
  padding: 0px;
}
.freeBoxlarge___7KHzsbtrf {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  border-radius: 20px;
}
.img > picture > img {
  object-fit: cover;
}
.h4 {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: var(--token-Yq556PvPjGii);
  align-self: center;
  right: 0;
  bottom: 0;
}
.freeBox___6SGha {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.hgroup {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.sub {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  min-width: 0;
}
