.settingsSheet {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__f7Xou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-GGYj13plNx6v);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBox__nzBvn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 24px 0px 0px 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nzBvn {
    padding-bottom: 16px;
  }
}
.freeBox__apphv {
  display: block;
  width: 64px;
  height: 8px;
  max-width: 100%;
  background: var(--token-pyhDq7s0RTkz);
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
}
.sideMenuSectionHead:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sideMenuSectionHead:global(.__wab_instance) {
    display: none;
  }
}
.freeBox___2Onju {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.svg__xct8F {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.freeBox__xDgt5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 0px;
}
.svg__ek2C {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.freeBox__gyYv9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 0px;
}
.svg__rhN3Q {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
.freeBox__bcced {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__y6T3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 0px;
}
.svg___6O3Ee {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
}
